
.footer_1{
	text-align: center;
    display: block;
    color: #fff;
    background: #5D4195;
}
.nameuser{
    display: block;
}
.nameuser:after {
    content: url(../images/profile.png);
}

.node-form {
    .field-group-html-element {
        h3 {
            color: #5D4195;
        }
    }
    .field-group-title {
        color: #5D4195;
    }
    span {
        .fieldset-legend {
            color: #5D4195;
        }
    }
    .form-wrapper {
        .form-checkboxes {
            display: flex;
            flex-flow: wrap;
        }
        .form-item {
            
        }
        .fielset-legend {
            color: #5D4195;
            font-size: 1.3em;
        }
        .fieldset-wrapper {
            display: flex;
            flex-flow: wrap;
        }
    }
    input, select {
        border-radius: 20px;
        border: 1px solid #5D4195;
    }   
    .form-check-input {
        width: 2em;
        height: 2em;
        &:checked{
            background-color: #5D4195;
        }
    }

    
    .form-checkboxes {
        .form-item {
            width: 48%;
        }
    }
    #edit-group-participantes-por-genero, edit-group-poblacion, edit-group-persona-con-discapacidad {
         .fieldset-wrapper {
            .form-item {
                    width: 100%;
                }
         }
    }
    
   
}
.path-node {
    .node-form {
        .fieldset-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
}
.menu_especial {
    .h2 {
        color: #5d4195;
    }
}

.button {
    background: #5d4195;
}

.views-exposed-form {
    .form--inline {
        .form-item {
            float:none;
            
            label {
                display: inline-block;
                width: 30%;
            }
            .form-control {
                display: inline-block;
                width: auto;
            }
            input, select {
                border: 1px solid #5D4195;
            }
        }
    }
}

.region-breadcrumb
{
  margin-top: 3%;
}

#body_content {
    width: 100%;
    .views-exposed-form {
        .select-wrapper {
            display: block;
            padding-bottom: 20px;
        }
    }
    form{
        .form-type-managed-file {
            display: block !important;
        }
    }
    form {

        .form-item {
            padding: 0 10px;
            
            label {
                padding: 0.5em 1em 0.5em 0;
                font-weight: 600;                
                text-transform: math-auto;
            }
            legend {
                span {
                    font-weight: 600;
                    color: #5D4195;
                }
            }
            
        }
    }
    .block {
        h2{
            color: #5D4195;
        }
        .field--name-body{
            padding-top: 1%;
        }
    }
}

.block-cheeseburgermenu__trigger-element {
    width: 5%;
}

.iconos-login {
	img {
		width: 80px;
	}
}

.inicio-left {
    font-size: 1em !important;
}
#block-headercentro {
    width: 80%;
    text-align: center;
    font-size: x-large;
    font-weight: 500;
    color: #5D4195;
    background-image: url(../images/logosinbad.png);
    background-repeat: no-repeat;
    margin: 0 auto;
    background-position-x: center;
    text-indent: -9999px;
    height: 100%;
}
.headerinto {
    background: #E7BB4B;
}

#block-showuser {
    width: 10%;
    margin-left: auto;
}
.region.region-headerinto {
    display: flex;
    flex-wrap: wrap;
    height: 60px;
    align-content: space-between;
}
.inicio-right{
    p{
        padding-left: 17%;
    }
}
#user-login-form {
    .form-control {
        border-color: #5D4195;
    }
    .form-submit {
        width: 100%;
    }
}
table#taxonomy {
        .handle {
            width: 30px;
            height: 30px;
            display: block;
        }  
        .menu-item__link {
            font-size: 1.5em;
            text-decoration: none;
            color: blueviolet;
        }  
    }
.pager {
    .is-active{
        background: #5D4195;
    }
    .page-link {
        background: #5D419533;
    }
}

.btn-primary {
    background-color: #5D4195;
    &:hover {
        background-color: #675193;
        border-color: #675193;
    }
}
a.button.button-action {
    background-color: #5D4195;
}
.taxonomy-term {
    .field--label-inline {
        line-height: 50px;
        .field__label {
            width: 50%;
          }
    }
    
}