.footer_1{
	text-align: center;
    display: block;
    color: #fff;
    background: #5D4195;
}
.nameuser{
    display: block;
}
.nameuser:after {
    content: url(../images/profile.png);
}

.node-form {
    .field-group-title {
        color: #5D4195;
    }
    span {
        .fieldset-legend {
            color: #5D4195;
        }
    }
    .form-wrapper {
        .form-checkboxes {
            display: flex;
            flex-flow: wrap;
        }
        .form-item {
            
        }
        .fielset-legend {
            color: #5D4195;
            font-size: 1.3em;
        }
        .fieldset-wrapper {
            display: flex;
            flex-flow: wrap;
        }
    }
    input, select {
        border-radius: 20px;
        border: 1px solid #5D4195;
    }   
    .form-check-input:checked{
        background-color: #5D4195;
    }
    .btn-primary {
        background-color: #5D4195;
    }
    
    .form-checkboxes {
        .form-item {
            width: 48%;
        }
    }
    #edit-group-participantes-por-genero, edit-group-poblacion, edit-group-persona-con-discapacidad {
         .fieldset-wrapper {
            .form-item {
                    width: 100%;
                }
         }
    }
    
   
}
.menu_especial {
    .h2 {
        color: #5d4195;
    }
}

.button {
    background: #5d4195;
}

.views-exposed-form {
    padding-left: 5%;
    .form--inline {
        .form-item {
            float:none;
            
            label {
                display: inline-block;
                width: 30%;
            }
            .form-control {
                display: inline-block;
                width: auto;
            }
            input, select {
                border: 1px solid #5D4195;
            }
        }
    }
}

.region-breadcrumb
{
  margin-top: 3%;
}

#body_content {
    width: auto;
    .views-exposed-form {
        .select-wrapper {
            width: 50%;
        }
    }
    form{
        .form-type-managed-file {
            display: block !important;
        }
    }
    form {

        .form-item {
            padding: 0 10px;
            
            label {
                padding: 0.5em 1em 0.5em 0;
                
                text-transform: math-auto;
            }
            
        }
    }
    .block {
        h2{
            color: #5D4195;
        }
        .field--name-body{
            padding-top: 1%;
        }
    }
}

.block-cheeseburgermenu__trigger-element {
    width: 5%;
}

.iconos-login {
	img {
		width: 80px;
	}
}

.inicio-left {
    font-size: 1em !important;
}
#block-headercentro {
    width: 80%;
    text-align: center;
    font-size: x-large;
    font-weight: 500;
    color: #5D4195;
    background-image: url(../images/logosinbad.png);
    background-repeat: no-repeat;
    margin: 0 auto;
    background-position-x: center;
    text-indent: -9999px;
    height: -webkit-fill-available;
}
.headerinto {
    background: #E7BB4B;
}
#block-showuser {
    width: 10%;
    margin-left: auto;
}
.region.region-headerinto {
    display: flex;
    flex-wrap: wrap;
    height: 60px;
    align-content: space-between;
}
